.recent-posts-section {
  padding: 3rem 0;
  margin: 3rem 0;
  background-color: #edf7fa;
  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  .posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    .post-card {
      padding: 1rem;
    }
  }
}

.featured-work-section {
  padding: 3rem 0;
  margin: 3rem 0;

  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    h1 {
      font-weight: normal;
    }
  }
  .featured-work-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
