.post-card {
  border: solid 1px rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  .post-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    a {
      text-decoration: none;
      color: #21243d;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .post-meta-data {
    display: flex;
    // flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    @include for-tablet-portrait-up {
      flex-direction: row;
    }

    .post-date {
      font-size: 1rem;
      font-weight: light;
    }
    .post-author {
      font-size: 1rem;
      font-weight: light;
    }
  }
}

.featured-work-card {
  border: solid 1px rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  // border: solid 1px #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  gap: 1rem;
  margin-bottom: 1rem;
  @include for-tablet-portrait-up {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }
  .featured-work-card-image {
    min-width: 248px;
    & span {
      border-radius: 5px;
    }
  }
  .featured-work-card-content {
    // padding: 2rem 0;
    h4 {
      font-size: 1.875rem;
      font-weight: bold;
      color: #21243d;
      a {
        text-decoration: none;
        color: #21243d;

        &:hover {
          color: $primary-color;
        }
      }
    }
    .work-meta-data {
      display: flex;
      gap: 1rem;
      padding: 0.5rem 0;
      align-items: center;
      .work-date {
        font-size: 0.9rem;
        font-weight: light;
        background: #21243d;
        border-radius: 15px;
        color: #fff;
        padding: 0.5rem;
        display: inline-block;
      }
      .work-type {
        display: flex;
        gap: 0.5rem;
        .btn {
          font-size: 0.9rem;
          padding: 0.1875rem;
        }
        font-weight: light;
      }
    }
    .work-description {
      padding: 1rem 0;
    }
  }
}
