.header {
  padding: 3rem 0;
  margin: 3rem 0;
  background-color: #edf7fa;

  .header-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 2rem;
    @include for-tablet-portrait-up {
      display: grid;
      grid-template-columns: auto 310px;
      gap: 5rem;
    }
    h1 {
      font-size: 2rem;
      @include for-tablet-portrait-up {
        font-size: 3rem;
      }
    }
    .side-one {
      h1 {
        font-size: 2rem;
        @include for-tablet-portrait-up {
          font-size: 3rem;
        }
      }
      p {
        padding: 1.5rem 0;
      }
    }
    .side-two {
      border: solid 1px #ccc;
      border-radius: 50%;
      aspect-ratio: 1;
      position: relative;
      padding: 1rem;
      height: 300px;
      @include for-tablet-portrait-up {
        height: auto;
      }
      & > span {
        position: absolute;
        top: 13%;
        z-index: 2;
      }
    }
  }
}
