.nav {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    position: relative;
    .nav-brand {
      width: 150px;
      @include for-tablet-portrait-up {
        width: 200px;
      }
    }
    .nav-menu {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 2rem;
      position: fixed;
      background-color: $primary-color;
      height: 100%;
      width: 70%;
      bottom: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      z-index: 4;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
      overflow: hidden;
      &.full {
        transform: translateX(0);
      }
      @include for-tablet-portrait-up {
        width: auto;
        transform: translateX(0);
      }
      .nav-menu-item {
        a {
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 1rem;
          .menu-icon {
            display: none;
          }
          &.active {
            color: #21243d;
            font-weight: bold;
          }

          @include for-tablet-portrait-up {
            .menu-text {
              opacity: 0;
              transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out;
              margin-right: -7.5rem;

              &.show {
                margin-right: 1rem;
                opacity: 1;
              }
            }
            .menu-icon {
              display: block;
              margin-right: -0.8rem;
              svg {
                font-size: 1.5rem;
              }
              &:last-child {
                margin-left: -1rem;
              }
            }
          }
        }
      }
    }

    .nav-toggle-container {
      svg {
        font-size: 1.2rem;
        color: #fff;
      }
      background-color: $primary-color;
      padding: 1rem;

      @include for-tablet-portrait-up {
        // display: none;
      }
    }
  }
}
